
/*Class CSS*/
.navbar-brand{
    font-family: "Rock 3D", system-ui;
    font-weight: 900;
    font-style: normal;
    color: rgb(157, 96, 12);
}
/*
.carouselChange{
   width: 500px;
   margin-top: 200px;
   margin:auto;
}

*/
.carouselChange {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
   margin-top: 0 !important;
}
.carousel { margin-top: 0 !important; }


.carousel-item img {
  height: 50vh; 
  object-fit: cover;  
  width: 100%;
}




.bg-img {
  /* The image used */
  background-image: url("GD.jpg");
  
     min-height: 150px;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  margin-bottom: 10px;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}